body {
    background-color: rgb(45, 45, 45);
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 350px;
    padding: 40px;
    flex: 1;
    gap: 6px;
    background-color: rgb(206, 27, 27);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: stretch;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 2px rgb(24, 24, 24);
}

.display {
    display: flex;
    background-color: rgb(43, 43, 43);
    grid-column: span 4;
  
    border-radius: 20px;
    color: rgb(199, 199, 199);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    align-items: flex-end;
    justify-content: end;
}

.result {
    padding: 10px;
    padding-right: 30px;
}

.button {
    background-color: rgb(43, 43, 43);
    grid-column: span 1;
    grid-row: span 1;
    height: 70px;
    border-radius: 40px;
    color: rgb(208, 208, 208);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
    transition: 120ms;
}

.bigbtn {
    grid-column: span 2;
}

.clear {
    grid-column: 1 / 4;
}

.footer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 95vh;
    left: 15px;
}

.footer p {
    color:rgb(206, 27, 27);
    font-family: Arial, Helvetica, sans-serif;
}

.footer svg {
    padding-left: 8px;
    fill: rgb(206, 27, 27);
}